body {
  font-size: 14px;
  font-family: "Open Sans";
  margin: 0;
}

p {
  color: #86878b;
}

/* header */
header {
  flex-basis: 100%;
  min-height: 70px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

.header-top {
  flex-basis: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  font-size: 14px;
  color: #848484;
  font-weight: 600;
  margin: 10px;
  padding: 0;
}

.img1 {
  margin: 10px;
}

.menu-item1,
.menu-item2,
.menu-item3,
.menu-item4,
.menu-item5 {
  cursor: pointer;
  transition-duration: 0.4s;
}

.menu-item1:hover,
.menu-item2:hover,
.menu-item3:hover,
.menu-item4:hover,
.menu-item5:hover {
  border-bottom: 1px solid #848484;
}

/* Лицо */

.start {
  flex-basis: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  background-image: url(/картинки/u2_state0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.start_layout {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}

.container {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-items: center;
  min-height: 600px;
  justify-content: space-around;
  z-index: 2;
}

.left_block {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 10px;
}

.h1 {
  font-size: 36px;
  color: #ffffff;
}

.left_block hr {
  border: 1px solid white;
  width: 60px;
  margin: 0 auto 0 0;
}

.p1 {
  font-size: 16px;
}

.button {
  border: 2px solid #ffffff;
  color: #ffffff;
  width: 130px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  background-color: transparent;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: gray;
  background: rgba(255, 245, 215, 0.2);
  color: silver;
}

.right_block {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 10px;
}

.trail_today {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-size: 20px;
  font-weight: 700;
  height: 55px;
}

.trail_today span {
  color: #ff9b51;
  margin: 5px;
}

.name,
.email,
.password {
  display: flex;
  margin: auto;
  border: none;
  border-bottom: 2px solid #c9c9c9;
  color: #c9c9c9;
  width: 70%;
  height: 65px;
  font-size: 14px;
}

input.button1 {
  background-color: #ff9b51;
  border: none;
  color: white;
  height: 50px;
  width: 360px;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  margin-top: 50px;
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: gray;
  background: rgba(255, 245, 215, 0.2);
  color: silver;
  border: 2px solid;
}

/*Нижний блок header*/
.block-buttom {
  flex-basis: 100%;
  min-height: 105px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.left_header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.right_header {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.zag {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
}

.pgf {
  font-size: 14px;
  color: #86878b;
  font-weight: 400;
  margin: auto;
}

.fackebook,
.twitter,
.google,
.pinterest,
.instagram {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  width: 65px;
  height: 65px;
}

/*первый блок*/
.main1 {
  flex-basis: 100%;
  min-height: 600px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 5% 0;
}

.block_1 {
  display: flex;
  flex-direction: column;
}

.tab1,
.tab2,
.tab3 {
  width: 110px;
  height: 110px;
  color: white;
  background-color: #333333;
  border: none;
  margin-bottom: 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.tab1:hover,
.tab2:hover,
.tab3:hover {
  background-color: #ff9b51;
  background: #ff9b51 rgba(255, 245, 215, 0.2);
  color: white;
}

.block_2 {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.block_2 h1 {
  font-size: 20px;
}

.block_2 p {
  font-size: 14px;
  color: #848484;
}

.button2 {
  border: none;
  color: #ffffff;
  width: 130px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  background-color: #ff9b51;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2:hover {
  background-color: gray;
  background: rgba(255, 245, 215, 0.2);
  color: silver;
  border: 2px solid;
}

/*второй блок*/
.main2 {
  flex-basis: 100%;
  min-height: 600px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 5% 0;
}

.Sub_list_section {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.h1_2 {
  font-size: 20px;
  color: #212121;
  font-weight: 700;
}

.Sub_list_section hr {
  border: 1px solid #ff9b51;
  width: 60px;
  margin: 0 auto 0 0;
}

.cloud_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cloud {
  width: 20px;
  height: 20px;
  margin-right: auto;
}

.Title {
  margin-left: 40px;
}

/*третий блок*/
.main3 {
  flex-basis: 100%;
  min-height: 600px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 5% 0;
}

.Standard_Picture_Section {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.Standard_Picture_Section hr {
  border: 1px solid #ff9b51;
  width: 60px;
  margin: 0 auto 0 0;
}

/*четвертый блок*/
.main4 {
  flex-basis: 100%;
  min-height: 600px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 5% 0;
  background-color: white;
}

.main4_block {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.h-1 {
  font-size: 36px;
  line-height: 43px;
  color: #212121;
  font-weight: 400;
  font-family: "Raleway";
}

.main4_1block {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.main4_1block hr {
  border: 1px solid #ff9b51;
  width: 60px;
  align-items: center;
}

.main4_2block {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Thoughtful_Design,
.Well_Crafted,
.Easy_to_Customize {
  max-width: 360px;
}

.icon {
  width: 60px;
  height: 60px;
}

/* Пятый блок */
.main5 {
  min-height: 880px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  padding: 5% 0;
  background-color: #f5f5f5;
}

.main5_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main5_1block hr {
  border: 1px solid #ff9b51;
  width: 60px;
  align-items: center;
}

.main5_block1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.main5_2block,
.main5_3block,
.main5_4block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 5% 0;
}

.basic,
.Professional,
.Enterprise {
  height: 60px;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  border-bottom: 1px solid #ffffff;
}

.zero,
.nineteen,
.seventy {
  height: 150px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #333333;
}

.zero h1,
.nineteen h1,
.seventy h1 {
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
  margin: 0%;
}

.number {
  width: 100%;
  border: 1px solid #ff8b38;
  margin: 0%;
}

.zero p,
.nineteen p,
.seventy p {
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  margin: 0%;
}

span {
  font-size: 95px;
  font-family: "Raleway";
  font-weight: 700;
}

.OUR_MOST_POPULAR {
  background-color: #ff8b38;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OUR_MOST_POPULAR p {
  color: #ffffff;
}

/* Шестой блок */
.main6 {
  flex-basis: 100%;
  min-height: 600px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  padding: 5% 0;
  background-color: white;
}

.main6_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main6_1block hr {
  border: 1px solid #ff9b51;
  width: 60px;
  align-items: center;
}

.main6_2block {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon_jony {
  width: 70px;
  height: 70px;
}

.jeremy,
.jony,
.susan {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 5% 0;
}

.ppp {
  background-color: #f5f5f5;
  padding: 10px;
}

.icon1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.icon_right {
  display: flex;
  justify-content: flex-start;
}

div .icon_right {
  display: flex;
  font-size: 15px;
  color: #333333;
  font-weight: 700;
}

.icon1 h1 {
  margin: 0%;
}

.icon1 p {
  margin: 0%;
}

/* Седьмой блок */
.main7 {
  flex-basis: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  background-image: url(/картинки/u25_state0.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.finish {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}

.container2 {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-items: center;
  min-height: 320px;
  justify-content: space-around;
  z-index: 2;
}

.finishh_h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 400;
}

.finishh_h1 hr {
  border: 1px solid white;
  width: 60px;
  align-items: center;
}

.button_finish {
  border: 2px solid #ffffff;
  color: #ffffff;
  width: 130px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  background-color: transparent;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_finish:hover {
  background-color: gray;
  background: rgba(255, 245, 215, 0.2);
  color: silver;
}

/* main8 */
.main8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  background-color: #ffffff;
  min-height: 600px;
}

.main8_block1 {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main8_block1 h1 {
  font-size: 36px;
  font-family: "Raleway";
}

.main8_block1 hr {
  border: 1px solid #ff8b38;
  width: 60px;
  align-items: center;
}

.main8_block2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form_block1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin: 0 10px;
}

.form_block2 {
  display: flex;
  flex-direction: column;
}

.name1,
.email1,
.Subject1 {
  height: 38px;
  width: 360px;
  border: none;
  border-bottom: 2px solid #c9c9c9;
  color: #c9c9c9;
}

.name1::-webkit-input-placeholder,
.email1::-webkit-input-placeholder,
.Subject1::-webkit-input-placeholder {
  color: #c9c9c9;
}

.Massage1::-webkit-input-placeholder {
  color: #c9c9c9;
  padding-top: 10px;
}

.Massage1 {
  width: 360px;
  display: flex;
  border: none;
  border-bottom: 2px solid #c9c9c9;
  color: #c9c9c9;
  resize: none;
}

.Sand_Massages1 {
  background-color: #ff9b51;
  min-width: 320px;
  min-height: 35px;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
}

.Sand_Massages1:hover {
  background-color: gray;
  background: rgba(255, 245, 215, 0.2);
  color: silver;
  border: 2px solid;
}
/* footer */
footer {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  flex-direction: column;
  min-height: 80px;
  background-color: black;
}

.footer {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.footer1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.ere {
  margin-left: clamp(10px, 50px, 90px);
  margin-right: clamp(10px, 50px, 90px);
}

.fackebook2,
.twitter2,
.google2,
.pinterest2,
.instagram2 {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.footer2 {
  display: flex;
  margin-top: 10px;
}

.footer2 p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans";
  margin: 0;
}
